
.VPNav .VPNavBar.home {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.VPNav .VPNavBar.has-sidebar {
  backdrop-filter: none;
}


.VPFeature {
  border: 1px solid var(--vp-c-divider);
}

@media (max-width: 768px) {
  .vp-doc div[class*='language-'] {
    margin-left: 0;
    margin-right: 0;
    border-radius: 12px;
  }

  .vp-doc div[class*='language-'] span.lang {
    right: 10px;
  }
}
